body {
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
  }
p[value="1"]{color: coral;}
p[value="2"]{font-size: 2rem;}
p[value="3"]{font: weight 900px;}
p[value="4"]{font-weight: 400;font-family: "Caveat", cursive;}
p[value="5"]{text-align: right;}
html{font-size: 30px;}
