div{height: 200px;width: 200px;}
p{margin: 0;}
#first
{
    background-color:cadetblue ;
    border: solid black;
    padding: 20px;
    border-width: 10px;
}
#second
{
    background-color:gold;
    border:solid black;
    border-width: 20px 10px;
    margin-left: 259.2px;

}
#third
{
    background-color:indianred;
    border:solid black;
    border-width: 10px;
    margin-left: 40px;

}